.App {
  text-align: center;
  background-color: #463f3a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.calculator {
  width: 300px;
  height: 304px;
  background-color: #e5e4e2;
  display: flex;
}

.result {
  background-color: #1d1b19;
  width: 300px;
  height: 120px;
  border-radius: 20px 20px 0 0;
  color: white;
  text-align: right;
  box-sizing: border-box;
  padding: 40px 20px;
}

.numbers {
  width: 225px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.operations {
  width: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
