.app {
  text-align: center;
  background-color: #463f3a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2.2rem;
}

.calculator {
  width: 300px;
  height: 304px;
  background-color: #e5e4e2;
  display: flex;
}

.result {
  background-color: #1d1b19;
  width: 300px;
  min-height: 190px;
  border-radius: 20px 20px 0 0;
  color: white;
  text-align: right;
  box-sizing: border-box;
  padding: 15px 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.cache {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

.cacheItem {
  margin: 0;
  padding: 0;
}

.cacheItem:first-child {
  opacity: 0.3;
}

.cacheItem:nth-child(2) {
  opacity: 0.4;
}

.cacheItem:nth-child(3) {
  opacity: 0.5;
}

.numbers {
  width: 225px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.numbers button:nth-child(10) {
  order: 2;
}

.numbers button:nth-child(11) {
  order: 1;
}

.operations {
  width: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
